body {
  background-color: #e6c79f;
  color: black;
}

h1 {
  color:rgb(157, 45, 45);
}

img{
  margin-right: 40px;
}

#burgerSubmitBtn {
  margin:15px;
}

.container {
  margin: 20px auto;
}

#devourSection {
  margin: 20px auto;
  padding: 20px auto;
}

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  background-color: rgb(245, 216, 184);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
