body {
  background-color: #e6c79f;
  color: black;
  font-family: 'JetBrains Mono', monospace;
}

h1,
h5 {
  color:#d9534f;
}

img{
  margin-right: 40px;
}

#burgerSubmitBtn {
  margin:15px;
  background-color: #d9534f;
  color: white;
}

.container {
  margin: 20px auto;
}

#devourSection {
  margin: 20px auto;
  padding: 20px auto;
}

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  background-color: rgb(245, 216, 184);
}

.delete-burger,
.change-devour{
  margin:5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
